# By default, convert line endings automatically.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.py text eol=lf
*.sh text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.cmd text eol=crlf
