name: Lint with MyPy

on: [push, pull_request]

jobs:
  mypy:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install -c ci-constraints.txt . -r mypy-requirements.txt

      - name: Run MyPy
        run: |
          mypy .
